body{
  background: #f9f9f9;
}
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* ========================================= */
/* Components style */
/* ========================================= */

.Header{
  display: flex;
  align-items: center;
  justify-content:space-between;
  padding: 5px 20px 5px 20px;
  background-color: #fff;
  box-shadow: 0px 2px 12px #f2f2f2;
}



/* ========================================= */
/* Pages style */
/* ========================================= */
/* 1.Home Page */
.HomeMainPart{
  background-color: #1d9f6c;
  padding: 30px 0 60px 0;

}

.MainTitle{
  font-size: 40px;
  font-weight: bold;
  font-style: italic;
  padding: 30px 0 20px 0;
  color: #fff;
}

.Guide{
  background-color: #f1f0f0;
  padding: 30px 0 20px 0;
}

.Guide-Title{
  font-size: 20px;
  font-style: italic;
  color: #a2a2a2;
  margin: 10px 0 20px 0;
}

/* Search Part  */
.SearchBar{
    display: flex;
  justify-content: center;
}

.SearchInput{
  display: flex;
  align-items: center;

  width: 600px;
}

.prompt{
  width: 80%;
}

.SearchButton{
  margin: 0 20px 0 20px;
}

/* Skill sort */
.SkillLabel{
 margin: 3px !important;
}

.SortSkillTitle{
  font-size: 20px;
  font-weight: bold;

}

.AllSkill{
  padding: 10px 0 10px 0;
}


.NetVis{
  width: 1000px;
  height: 800px;
}
