body{
  background: #f9f9f9;
}
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* ========================================= */
/* Components style */
/* ========================================= */

.Header{
  display: flex;
  align-items: center;
  justify-content:space-between;
  padding: 5px 20px 5px 20px;
  background-color: #fff;
  box-shadow: 0px 2px 12px #f2f2f2;
}

.embedVis{
  display: flex;
  justify-content: center;
}



/* ========================================= */
/* Pages style */
/* ========================================= */
/* 1.Home Page */
.HomeMainPart{
  background:url(https://github.com/housenever/JobJungleVis_Test/blob/master/duotone2.png?raw=true);
  /* background-color: #1d9f6c; */
  padding: 30px 0 60px 0;
  background-size:cover;
  height: 100%;

}

.MainTitle{
  margin-top: 120px;
  font-size: 40px;
  font-weight: bold;
  font-style: italic;
  padding: 30px 0 20px 0;
  color: #fff;
}

.Guide{
  background-color: #f1f0f0;
  padding: 30px 0 20px 0;
}

.Guide-Title{
  font-size: 20px;
  font-style: italic;
  color: #a2a2a2;
  margin: 30px 0 50px 0;

}

/* Search Part  */
.SearchBar{
  display: flex;
  justify-content: center;
  margin-bottom: 120px;
}

.SearchInput{
  display: flex;
  align-items: center;
  width: 600px;
}

.prompt{
  width: 80%;
}

.SearchButton{
  margin: 0 20px 0 20px;
}

/* Skill sort */
.SkillLabel{
 margin: 3px !important;
}

.SortSkillTitle{
  font-size: 20px;
  font-weight: bold;

}

.AllSkill{
  padding: 10px 0 10px 0;
}

.JobPic{
  height: 100px;
  width: 140px;
  padding: 8px 0 0 0;
}

.ItemSeg{
  height: 160px;
  width: 360px;
  margin: 4px 0 4px 0;
}

/* 2.History Page */
.yourhistory{
  font-size: 24px;
  font-style: italic;
  margin: 30px 0 30px 0;
  text-align: center;

}

.HistoryTitle{
  font-size: 20px;
  font-style: italic;
  text-align: center;
  color: #009d7c;

}



/* 3.Job&Skill Page */
.PageTitle{
  /* width: 70%; */
  font-size: 36px;
  font-weight: bold;
  font-style: italic;
  /* border-bottom: 3px solid black; */
  /* border-top: 3px solid black; */
  padding: 10px 30px 10px 30px;
  margin: 40px 0 10px 0;
  background-color: #06a25c;
  color: white;
  border-radius: 6px;
}

.PageTitleArea{
  padding: 20px;
  margin: 30px 0 20px;
}

.description{
  margin-top: 30px;
  font-size: 16px;
}


.QuanListArea{
  /* margin: 10px; */
  padding: 10px 20px 10px 20px;
}

.QuanListName{
  font-size: 18px;
  font-style: italic;
  padding-left: 5px;
}

.QuanListName:hover{
  text-decoration: underline;
  background-color: #ffe200;
}

.QuanListTitle{
  font-size: 18px;
  font-style: italic;
  font-weight: bold;

}

.Note{
  font-style: italic;
  color: #a2a2a2;
  text-align: left;
}

.InfoArea{
  background-color: #f2f2f2;
  margin-top: 13px;
}

.VisArea{
  margin-top: 40px;
  padding: 20px 0 20px 0;
}

.VisTitle{
  font-size: 20px;
}

.VisLable_Job{
  background-color: #00b07c;
  margin: 0 10px 0 10px;
  padding: 6px 15px 6px 15px;
  color: white;
  border-radius:30px;
}

.VisLable_Skill{
  background-color: #ff5995;
  margin: 0 10px 0 10px;
  padding: 6px 15px 6px 15px;
  color: white;
  border-radius:30px;
}

/* loading dots */
.loading:after {
  content: ' .';
  animation: dots 1s steps(5, end) infinite;}

@keyframes dots {
  0%, 20% {
    color: rgba(0,0,0,0);
    text-shadow:
      .25em 0 0 rgba(0,0,0,0),
      .5em 0 0 rgba(0,0,0,0);}
  40% {
    color: black;
    text-shadow:
      .25em 0 0 rgba(0,0,0,0),
      .5em 0 0 rgba(0,0,0,0);}
  60% {
    text-shadow:
      .25em 0 0 black,
      .5em 0 0 rgba(0,0,0,0);}
  80%, 100% {
    text-shadow:
      .25em 0 0 black,
      .5em 0 0 black;}}
